<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.travel.mapper.TourismMapper">

    <select id="getTouristList" resultType="com.multi.travel.vo.TourismVO">
        SELECT no, district, title, description, address, phone, lat, lng, img
        FROM travel
        ORDER BY no ASC
    </select>

    <select id="getTouristById" parameterType="int" resultType="com.multi.travel.vo.TourismVO">
        SELECT no, district, title, description, address, phone, lat, lng, img
        FROM travel
        WHERE no = #{no}
    </select>

</mapper>
